<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Steve's Tech Blog</title>

        <!-- Establish early connection to Bootstrap CDN -->
        <link rel="preconnect" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- Sets consistent scaling across devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Open Graph tags -->
        <meta name="title" property="og:title" content="Steve's Tech Blog">
        <meta name="description" property="og:description" content="Blog site for discussing latest tech innovations and updates.">

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="96x96" href="/images/desktop-favicon.png">

        <!-- Normalize CSS link -->
        <link rel="preload" href="/css/normalize.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/css/normalize.css">
        </noscript>

        <!-- Bootstrap CDN link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- Custom CSS link -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- Font Awesome link -->
        <script src="https://kit.fontawesome.com/3aa713bd16.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <!-- Top navigation and title -->
        <div class="mb-4 teal">
            <header>
                <h1 class="text-white w-100 px-4 pt-4"><i class="fas fa-desktop"></i> Steve's Tech Blog</h1>
            </header>
            <nav class="navbar p-4 justify-content-start">
                <a href="/" class="pr-4 text-white"><u>Home</u></a>
                <a href="/dashboard" class="pr-4 text-white"><u>Dashboard</u></a>
                {{#if loggedIn}}
                <a class="text-white" id="logout"><u>Log Out</u></a>
                {{else}}
                <a href="/login" class="text-white"><u>Log In</u></a>
                {{/if}}
            </nav>
        </div>

        <!-- Main section -- rendered by other handlebar templates -->
        <main class="w-100">
            {{{body}}}
        </main>

        <!-- Adds logout logic if user is logged in -->
        {{#if loggedIn}}
            <script src="/js/dist/logout.min.js"></script>
        {{/if}}

        <!-- Footer -->
        <footer class="bg-dark p-2 mt-5">
            <h4 class="text-white text-center">&copy; 2021 Stephen A. Roddewig</h4>
        </footer>
    </body>
</html>