<!DOCTYPE html>
<html>
    <head>
       <title>Steve's Tech Blog</title>

        <!-- Sets consistent scaling across devices -->
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
       <link rel="icon" type="image/png" sizes="96x96" href="/images/desktop-favicon.png">

       <!-- Normalize CSS link -->
       <link rel="stylesheet" href="/css/normalize.css">

       <!-- Bootstrap CDN link -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

       <!-- Custom CSS link -->
       <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Top navigation and title -->
        <div class="bg-info mb-4">
            <nav class="navbar p-4 justify-content-start">
                <a href="/" target="_blank" class="pr-4"><u>Home</u></a>
                <a href="/dashboard" target="_blank" class="pr-4"><u>Dashboard</u></a>
                <a href="/login" class="text-white"><u>Log In</u></a>
            </nav>
            <header>
                <h1 class="text-white w-100 px-4 pb-3">Steve's Tech Blog</h1>
            </header>
        </div>

        <!-- Main section -- rendered by other handlebar templates -->
        <main>
            {{{body}}}
        </main>

        <!-- Footer -->
        <footer class="bg-dark p-2 mt-4">
            <h4 class="text-white text-center">&copy; 2021 Stephen A. Roddewig</h4>
        </footer>
    </body>
</html>