{{!-- Search Bar --}}
{{#if posts}}
    <div class="row px-2 px-sm-5 justify-content-center">
        <div class="col-12 col-md-10 w-50">
            <div class="float-left float-md-right mt-2 mt-md-0" id="search">
                <label for="search-bar" class="d-block text-md-right">Search Posts</label>
                <input id="search-bar" type="text" class="rounded text-md-right pl-2 pl-md-0 pr-1" />
                <i class="fas fa-search float-left float-md-right"></i>
            </div>
        </div>
    </div>
{{/if}}

{{#each posts as |post|}}
    {{> post-summaries}}
{{/each}}

{{!-- If there are no posts to search, then the script file is not needed --}}
{{#if posts}}
    <script src="./js/dist/search.min.js"></script>
{{/if}}